---
import Layout from "../layouts/Layout.astro";
const imgPrefix = "/grandpa-paintings";
---

<Layout>
  <div class="container">
    <h1>倪士然一云林轩主</h1>

    <main>
      <div class="pure-g">
        <div class="pure-u pure-u-1-3 padding">
          <img
            src={`${imgPrefix}/author/image.webp`}
            alt="author"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div class="pure-u pure-u-2-3 padding font-main">
          <h2 class="text-center font-kaiti">画家 倪士然简介</h2>
          <p class="text-indent-2 font-kaiti">
            倪士然号云林轩主，1949年9 月 29 日生于安徽淮南市。
          </p>
          <p class="text-indent-2 font-kaiti">
            自幼酷爱中国传统书画艺术，1984
            年函授于北京齐白石艺术函数学院，受教于齐良迟、李燕、黄鼎教授，得益良多，数年墨耕，不敢忘其宗旨。
          </p>
          <p>
            <div class="pure-g">
              <div class="pure-u-1-3 padding">现为</div>
              <div class="pure-u-2-3 padding">
                <ul style="list-style: none;">
                  <li>中国老年书画家协会会员</li>
                  <li>安徽省老年书画联谊会会员</li>
                  <li>安徽省淮北市美术家协会会员</li>
                </ul>
              </div>
            </div>
          </p>
          <div class="pure-g">
            <div class="pure-u-1-3 padding">2019年11月</div>
            <div class="pure-u-2-3 padding">
              庆祝建国70周年庆展，全国首届当代翰墨名家一等奖
            </div>
          </div>

          <div class="pure-g">
            <div class="pure-u-1-3 padding">2019年9月</div>
            <div class="pure-u-2-3 padding">全国万里行金秋展入展【百度画家倪士然】</div>
          </div>

          <div class="pure-g">
            <div class="pure-u-1-3 padding">2019年7月</div>
            <div class="pure-u-2-3 padding">淮北美协70周年提名获奖展</div>
          </div>

          <p>近年省市刊物均有发表与获奖</p>
          <p>QQ：&nbsp;&nbsp; 814596647</p>
        </div>
      </div>

      <h2 class="space">荣誉证书</h2>
      <div>
        <img
          src={`${imgPrefix}/certificate-of-honor/image.webp`}
          alt="author"
          loading="lazy"
          decoding="async"
        />
      </div>

      <h2 class="space">作品</h2>
      <div class="pure-g">
        <div class="pure-u-1-4 padding">
          <img
            src={`${imgPrefix}/images/image1.webp`}
            alt="author"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div class="pure-u-1-4 padding">
          <img
            src={`${imgPrefix}/images/image2.webp`}
            alt="author"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div class="pure-u-1-4 padding">
          <img
            src={`${imgPrefix}/images/image3.webp`}
            alt="author"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div class="pure-u-1-4 padding">
          <img
            src={`${imgPrefix}/images/image4.webp`}
            alt="author"
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>

      <div class="pure-g space">
        <div class="pure-u-1-2 padding">
          <img
            src={`${imgPrefix}/images/image11.webp`}
            alt="author"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div class="pure-u-1-2 padding">
          <img
            src={`${imgPrefix}/images/image12.webp`}
            alt="author"
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>

      <div class="pure-g space">
        <div class="pure-u-1-2 padding">
          <img
            src={`${imgPrefix}/images/image13.webp`}
            alt="author"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div class="pure-u-1-2 padding">
          <img
            src={`${imgPrefix}/images/image14.webp`}
            alt="author"
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
    </main>

    <footer class="footer"></footer>
  </div>
</Layout>

<style is:global>
img{width:100%;height:100%;object-fit:cover;}.text-indent-2{text-indent:2cap;}.font-kaiti{font-family:"Times New Roman",STKaiti,KaiTi,"楷体",serif;font-size:26px;}.font-main{font-size:22px;}.space{margin-top:30px;}.container{--bs-gutter-x:1.5rem;--bs-gutter-y:0;width:100%;padding-right:calc(var(--bs-gutter-x) * 0.5);padding-left:calc(var(--bs-gutter-x) * 0.5);margin-right:auto;margin-left:auto;}@media (min-width:576px){.container{max-width:540px;}}@media (min-width:768px){.container{max-width:720px;}}@media (min-width:992px){.container{max-width:960px;}}@media (min-width:1200px){.container{max-width:1140px;}}@media (min-width:1400px){.container{max-width:1320px;}}main{display:block;}.pure-g{display:flex;flex-flow:row wrap;align-content:flex-start;}.pure-u{display:inline-block;vertical-align:top;}.pure-u-1-4,.pure-u-1-2,.pure-u-1-3,.pure-u-3-4 .pure-u-2-3{display:inline-block;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto;}.pure-u-1-4{width:25%;}.pure-u-1-2{width:50%;}.pure-u-1-3{width:33.3333%;}.pure-u-2-3{width:66.6667%;}.pure-u-3-4{width:75%;}.text-center{text-align:center;}div{box-sizing:border-box;}.padding{padding-right:0.625rem;padding-left:0.625rem;}h1{font-size:2.5rem;}.footer{height: 40px;}
</style>